h1 {
    padding-top: 2%;
    text-align: center;
    color: white !important;
    font-weight: 500 !important;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ensures the body height covers the viewport height */
    width: 100%;
}